click
click-aliases
fastapi
uvicorn[standard]
watchdog
azure-identity
azure-storage-queue
azure-data-tables
azure-storage-blob
azure-cognitiveservices-speech
azure-servicebus
aiohttp
python-dotenv
#semantic-kernel==1.8.0
tiktoken
pymongo
python-multipart
requests